<div class="w-screen h-svh pt-16 px-5 bg-cyan-100">
  <div
    (click)="onUploadClick()"
    class="h-[66px] w-[66px] mx-auto rounded-md bg-cyan-700 text-5xl cursor-pointer"
  >
    📷
  </div>
  <input
    type="file"
    #fileInput
    (change)="onFileSelected($event)"
    style="display: none"
    accept="image/*"
  />

  <div class="w-full mt-10 flex gap-5 justify-center flex-wrap">
    @for(img of imgList(); track $index){
    <img class="w-40 h-40 object-cover" src="{{ img }}" alt="" />
    }
  </div>
</div>

<app-image-editor
  [(imgSrc)]="imgSrc"
  [(imgList)]="imgList"
  [(isEditorOpen)]="isEditorOpen"
></app-image-editor>
